# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Event_Ease-Backend/node_modules/
/Event_Ease-Frontend/node_modules/

# next.js
/Event_Ease-Frontend/.next/
/Event_Ease-Frontend/out/

# production
/Event_Ease-Frontend/build
/Event_Ease-Backend/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts